body {
    background: #282d32;
    padding: 20px;
    display: flex;
    padding-top: 0;
    margin-top: 0;
    color:#fff;
    justify-content: center;
}

.markdown-body {
    max-width: 100%;
    padding: 30px;
    margin-top: 0;
    background: rgb(0, 0, 0);
    color:#fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}